/* 폰트 색상 변경 */
/* IMPORT(직렬)는 Link(병렬)보다 늦게 가져온다.
LINK로 연결하고 늦게 가져오고 싶을 때 IMPORT 사용할 것   */
@import url("./box.css"); 
span.hello {
  font-size: 50px;
  text-decoration: underline;
}

.background {
  width: 100px;
  height: 200px;
  background-color: orangered;
  background-image: none;
  background-repeat: no-repeat;
  background-attachment: fixed;
}


.wrap {
  background-color: chartreuse;
  width: 600px;
  height: 300px;
}
.container {
  background-color: firebrick;
  width: 300px;
  height: 300px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

.container .item {
  border: 10px;
  width: 200px;
  height: 100px;
  background-color: aqua;
  border-color: salmon;
  box-sizing: border-box;
}

.container .item:hover {
  border: 2px dashed red;
  width: 300px;
  height: 100px;
  box-sizing: border-box;
  /* position: absolute;
  right: 10px;
  bottom: 10px;  */
}




